node_modules/
node_modules/**
.expo/
.expo/**
dist-check/
dist-check/**
android/.gradle/
android/.gradle/**
android/.kotlin/
android/.kotlin/**
android/build/
android/build/**
android/app/build/
android/app/build/**
android/app/.cxx/
android/app/.cxx/**
android/**/.cxx/
android/**/.cxx/**
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/android/
/ios/
**/local.properties
**/*.iml

